.offers {
  display: flex;
  gap: 10%;
  background-color: rgb(137, 155, 170);
}
.offers-left {
  
  display: flex;
  width: 40%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /* background-color: red; */
  height: 100%;
}
.offers-left h1 {
  color: #171717;
  font-size: 60px;
  font-weight: 600;
}
.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.offers-left button {
  width: 50%;
  height: 70px;
  border-radius: 35px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offers-right {
  display: flex;
  width: 40%;

}

@media only screen and (max-width: 512px) {
  .offers {
    display: flex;
    width: 100vw;
  }
  .offers-left {
    display: flex;
    margin: 50px 8px;
    /* background-color: red; */
  }
  .offers-left h1{
    font-size: 20px;
  }
  .offers-left p {
  color: #171717;
  font-size: 12px;
  font-weight: 600;
}

.offers-left button {
  width: 80%;
  height: 40px;
  padding: 8px;
  margin: 8px;
  font-size: 12px;

  
}
  .offers-right img {
  height: 300px;
  width: 300px;
}

}
