.payment-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .payment-success-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  .success-title {
    font-size: 32px;
    color: #28a745;
    margin-bottom: 20px;
  }
  
  .success-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .order-number {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .go-home-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .go-home-button:hover {
    background-color: #218838;
  }
  .info{
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
  }